extends layout

block content
    h1 Work Hours
    .row
        .ui.tabular.menu
          .item.active(data-tab='tabProject'): a(href='#projects') Projects
          .item(data-tab='tabHours'): a(href='#hours') Hours
        .ui.tab.active(data-tab='tabProject')
            .ui.two.column.grid
                #projectsTemplateTarget.column
                .column
                    .ui.form
                      input#projectId(type='hidden')
                      .inline.fields
                        .eight.wide.field
                          label Project
                          input#projectName(type='text', placeholder='Name')
                        .eight.wide.field
                          label Job Ticket                                
                          input#projectTicketNumber(type='text', placeholder='Job Ticket')
                        .eight.wide.field
                          button.ui.primary.button.btn-save Save
                          button.ui.button.btn-cancel Cancel
        .ui.tab(data-tab='tabHours')
            #hoursTemplateTarget



block scripts
    script#projectsTemplate.template(type='x-tmpl-mustache')
        table.ui.celled.striped.table
          thead
            tr
              th.ui.three.wide Project
              th.ui.three.wide.right.aligned.collapsing Job Ticket
              th.ui.two.wide Action
          tbody
            | {{#projects}}
            tr
              td {{name}}
              td.right.aligned.collapsing {{ticketNumber}}
              td
                a.edit(href='javascript:void(0)', data-id='{{_id}}'): i.edit.icon
                a.trash(href='javascript:void(0)', data-id='{{_id}}'): i.trash.icon
            | {{/projects}}
    script#hoursTemplate.template(type='x-tmpl-mustache')
        .ui.two.column.grid
            .column
                .ui.form
                  .inline.fields
                    .three.wide.field
                        label.collapsing Select Month
                    .four.wide.field
                        select 
                            | {{#months}}
                            | {{#selected}}
                            option(selected='selected') {{label}}
                            | {{/selected}}
                            | {{^selected}}
                            option {{label}}
                            | {{/selected}}
                            
                            | {{/months}}
            .column
                .ui.grid                                
                    .four.wide.column &nbsp;
                    .three.wide.column.right.aligned
                        button.ui.button.previousWeek 
                            i.backward.icon
                    .six.wide.column
                        h4.ui.header {{currentWeek.label}}
                    .three.wide.column
                        button.ui.button.nextWeek 
                            i.forward.icon
        .row
            br
        .row
            .column
                table.ui.celled.striped.table
                  thead
                    tr
                      th.two.wide Project
                      | {{#currentWeek.weekDaysLabels}}
                      th.two.wide {{.}}
                      | {{/currentWeek.weekDaysLabels}}
                  tbody
                    | {{#currentWeek.projects}}  
                    tr
                      td(data-project-id="{{project._id}}"): strong: | {{project.name}}
                      | {{#entries}}  
                      td
                        .ui.fluid.input
                            input.center.aligned(type='number', value='{{hours}}', data-date='{{date}}')
                      | {{/entries}}  
                    | {{/currentWeek.projects}}  
                    tr
                      td: strong Totals
                      | {{#currentWeek.totals}} 
                      td.total {{total}}
                      | {{/currentWeek.totals}} 
        .row 
            br
        .row
            .column
                button.ui.primary.right.floated.button.large Generate 

    script.
        WorkHours.Index.load()