doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/build/bundle.js')        
  body
    .main.ui.container
        block content
  footer
    block scripts
