doctype html
html
  head
    title= title
    script(src='/build/bundle.js')        
  body.pushable
    .pusher
        .full.height
            .ui.container
                block content
  footer
    block scripts
